@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Inter-light";
  src: url("../fonts/Inter-Light-BETA.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}


  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  button,
  div {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
  }